// шрипфт
$main-fonts:'Roboto',
sans-serif;
$thin-bold:100;
$light-bold:300;
$regular-bold:400;
$medium-bold:500;
$bold:700;
$black:900;

// размер шрифта
$menu:15px;
$h2:50px;
$h3:35px;
$h4:30px;
$h5:22px;
$p:14px;
$font-button:22px;

// цвета
$dark-background:#4a454b;
$light-background:#ffffff;
$complementary-background:#90d23d;
$dark-font:#242424;
$light-font:#fefefe;





html,
body {
    scroll-behavior: smooth;
    width: 100%;
    font-family: $main-fonts;
}

.container {
    width: 1170px;
    margin: 0 auto;

}

// Шрифты
h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}


h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

p {
    font-size: $p;
}




// Header
.header {
    position: relative;
    height: 760px;


    .bg-header {
        position: absolute;
        width: 100%;
        height: 100%;

    }



    .top-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        margin-bottom: 116px;
        background-color: $dark-background;
        z-index: 1500;
        position: fixed;
        width: 100%;
        padding: 27px 166px 20px 168px;

        .logo {
            margin-left: 18px;

            :hover {
                transform: scale(0.8);
            }
        }

        nav {
            display: flex;
            margin-right: 267px;
            padding-top: 15px;


            li {
                list-style: none;
                margin-right: 36px;
                padding: 10px 10px 10px 10px;


                :hover {

                    font-weight: $bold;
                    border-top: 4px solid $complementary-background;


                }

                a {
                    text-decoration: none;
                    color: $light-background;
                    text-transform: uppercase;
                    font-weight: $thin-bold;
                    font-size: $menu;
                    padding: 30px 10px;


                }
            }
        }
    }




    // timer

    #timer {
        height: 100px;
        border-width: 2px;
        border-color: rgb(144, 210, 61);
        border-style: solid;
        border-radius: 20px;
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 968px;
        height: 194px;
        padding: 33px 80px 18px 80px;
        margin: 0 auto;
        margin-top: 224px;




        .timer-item {
            display: flex;
            flex-direction: column;
            font-size: 25px;
            color: $light-font;
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            padding: 0 20px;

            span {
                font-size: 130px;
                color: $light-font;
                font-family: 'Roboto Slab', serif;
                font-weight: 100;
                text-transform: uppercase;
                margin-right: 10px;


            }

            i {
                padding: 10px 20px 10px 20px;
            }
        }
    }
}

// main

// блок event deatails
.event-details {
    position: relative;
    width: 100%;
    background: $light-background;
    z-index: 2;

    .event-details-content {
        margin-bottom: 129px;

        h2 {
            font-weight: $black;
            padding-top: 63px;
            padding-bottom: 2px;
        }

        p {
            width: 50%;
            margin-top: 23px;
            font-weight: $light-bold;

            span {
                font-weight: $medium-bold;
            }
        }

    }

    .advantages-event {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 90px;

        .advantages-event-items {

            img {
                display: block;
                margin: 0 auto;
            }

            h3 {
                font-weight: $black;
                margin-top: 33px;
                margin-bottom: 16.5px;
                text-align: center;
            }

            p {
                width: 300px;
                text-align: center;
                line-height: 1.2;
            }
        }

    }

    .table-time-events {
        width: 100%;
        color: $light-font;
        border-radius: 15PX;
        width: 1030px;
        height: 375px;
        margin: 0 auto;
        margin-bottom: 36px;


        .title-tr {
            background: #a3cc40;
            height: 75px;
            text-align: left;
            font-weight: $black;
        }

        tr {
            background: #4b4d4f;

        }

        tr:nth-child(even) {
            background: #373737;
        }

        td {
            padding: 20px;
        
    }

    .table-text {
        line-height: 1.2;
        margin: 0 auto;
        text-align: center;
        width: 73%;
        margin-bottom: 312px;
    }

}
}




// блок регистрации
.register-box {
    position: absolute;
    width: 431px;
    height: 530px;
    padding: 30px 30px 20px 30px;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    top: -235px;
    right: 155px;
    z-index: 1;
    background-color: $light-background;

    h4 {
        font-weight: $bold;
        margin-bottom: 23px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        height: 53px;
        margin-bottom: 19px;
        padding-left: 12px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(190, 190, 190);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    &:focus {
        background-color: $complementary-background;
       
    }
    }

    .submit {
        width: 371px;
        height: 58px;
        border-radius: 5px;
        background-color: $complementary-background;
        color: $light-font;
        font-weight: $bold;
        font-size: $font-button;
        margin: 40px auto 0 auto;
        &:hover {
            transform: scale(0.8);
            background-color: $dark-background;
        }
    }

    P {
        font-size: 15px;
        font-weight: $light-bold;
        margin-top: 19px;
        line-height: 1.2;
        text-align: center;
        
    }
}

.envato-elite {
    width: 100%;
    background-color: $dark-background;
    color: $light-font;
    position: relative;

    .envanto-elite-badge {
        margin-top: -201px;
        position: relative;
        z-index: 100;
        margin-left: 70px;

    }

    .container {
        .envato-elite-content {
            width: 45%;
            display: flex;
            flex-direction: column;
            margin-left: 50%;



            h2 {
                padding-top: 0;
                margin-bottom: 28.5px;
                text-align: right;
                font-weight: $black;
            }

            p {
                line-height: 1.2;
                text-align: right;
                width: 665px;
                margin-bottom: 20px;
                font-weight: $light-bold;
            }

            .envato-elite-btn {
                border-radius: 15px;
                background-color: $complementary-background;
                width: 200px;
                height: 55px;
                color: $light-font;
                font-size: 18px;
                margin-bottom: 145px;
            }
        }
    }
}

.envato-elite:before {
    content: '';
    position: absolute;
    top: -115px;
    width: 0;
    height: 0;
    border-bottom: 115px solid $dark-background;
    border-left: 100vw solid transparent;
}

.speakers {
    background-color: $light-background;
    position: relative;
    width: 100%;
    padding-top: 165px;

    .container {
        h2 {
            font-weight: $black;

            margin-bottom: 20px;
        }

        p {
            font-weight: $light-font;
            width: 50%;
            line-height: 1.2;
        }

        .speakers-gallery {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: flex-start;
            margin-bottom: 239px;

            .speakers-gallery-item {
                background-color: $complementary-background;
                border-radius: 15px;
                width: 296px;
                height: 296px;
                margin: 42px;
            }

            .img-5 {
                background-color: white;
                text-align: center;
            }
        }
    }
}

.speakers:before {
    content: '';
    position: absolute;
    top: -115px;
    width: 0;
    height: 0;
    border-bottom: 115px solid $light-background;
    border-left: 100vw solid transparent;
    z-index: 10;
}


.sponsors {
    background-color: $dark-background;
    position: relative;
    width: 100vw;
    padding-bottom: 67px;

    .sponsors-wrapper {
        text-align: center;

        h2 {
            margin-bottom: 33px;
            color: $light-font;
            font-weight: $black;
            padding-top: 80px;
        }

        p {
            line-height: 1.2;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            color: $light-font;
            font-weight: $thin-bold;
            margin-bottom: 18px;

        }

        .sponsors-logo-img {
            margin-bottom: 56px;

            img {
                margin-right: 77px;
            }
        }

        .sponsors-btn {
            width: 200px;
            height: 55px;
            border-radius: 15px;
            background-color: $complementary-background;
            margin-bottom: 60px;
            color: $light-font;
            font-weight: $regular-bold;
            font-size: 22px;
        }
    }
}


.sponsors:before {
    content: '';
    position: absolute;
    top: -115px;
    width: 0;
    height: 0;
    border-bottom: 115px solid $dark-background;
    border-left: 100vw solid transparent;
}




.past-events {
    background-color: $light-background;
    position: relative;
    width: 100vw;
    padding-top: 115px;
    padding-bottom: 94px;


    .container {
        h2 {
            color: $dark-font;
            font-weight: $black;
            margin-bottom: 33px;
        }

        p {
            font-weight: $light-bold;
            width: 51%;
            margin-bottom: 103px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 100px 100px 100px 100px;
            grid-template-rows: 409px 367px;
            grid-template-areas:
                'b b b b b b b g g g g g'
                'o o o o o o r r r r r r';
            margin-bottom: 97px;

            .grid-item1 {
                background-color: #3d6ed2;
                grid-area: b;
            }

            .grid-item2 {
                background-color: #90d23d;
                grid-area: g;
            }

            .grid-item3 {
                background-color: #ff9d00;
                grid-area: o;
            }

            .grid-item4 {
                background-color: #e0652a;
                grid-area: r;
            }

        }

        .past-events-btn {
            border-radius: 15px;
            background-color: rgb(55, 55, 55);
            width: 200px;
            height: 55px;
            color: $light-font;
            display: block;
            margin: 0 auto;
        }
    }
}

.past-events::before {
    content: '';
    position: absolute;
    top: -115px;
    width: 0;
    height: 0;
    border-bottom: 115px solid $light-background;
    border-left: 100vw solid transparent;
}


// contact form
.contact-form-and-map {
    width: 100%;
    background-image: url(img/Map.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 63.5px 100px 60px 100px;

    .container {
        .contact-form-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            margin-top: 65px;
            margin-bottom: 64px;
            padding: 58px 70px 52px 100px;
            background-color: $light-background;
            box-sizing: border-box;

            .address {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 50%;
                padding: 35px 30px 50px 0px;
                margin-right: 100px;
                position: relative;

                img {
                    margin: 0 auto;
                }

                p {
                    padding: 10px 30px 10px 30px;
                    margin-top: 34px;
                }

                .btn-map {
                    border-radius: 15px;
                    background-color: $complementary-background;
                    width: 200px;
                    height: 55px;
                    color: $light-font;
                    font-weight: $regular-bold;
                    text-transform: capitalize;
                    margin: 33px auto;
                    font-size: 22px;
                    ;
                    cursor: pointer;
                    display: block;

                    :hover {
                        transform: scale(0.8);
                        background-color: $dark-background;
                    }

                }

                p {
                    font-size: 18px;
                    line-height: 1.2;
                    text-align: center;
                    color: $dark-font;
                    font-weight: $light-bold;
                }

                #view-map {
                    padding: 5px;
                    position: relative;
                    border-radius: 15px;
                    background-color: #90d23d;
                    top: 2px;
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }

                .map-wrapper .iframe-container {
                    display: none;

                }

                .map-wrapper.open .iframe-container {
                    display: block;
                    position: absolute;
                    top: 0;

                }



            }

            .btn-map:hover {
                transform: scale(0.8);
                background-color: $dark-background;
            }

            .contact-form {
                display: flex;
                flex-direction: column;
                align-content: flex-end;
                width: 400px;

                input {
                    height: 56px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(144, 210, 61);
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                }

                textarea {
                    height: 249px;
                    margin-top: 25px;
                    margin-bottom: 29px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(190, 190, 190);
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                }

                .contact-form-btn {
                    border-radius: 5px;
                    background-color: rgb(55, 55, 55);
                    width: 100%;
                    height: 60px;
                    color: $light-font;
                    font-size: 22px;
                    text-transform: capitalize;



                }
            }
        }
    }
}

.contact-form-btn:hover {
    transform: scale(0.8);

}

// крестик для закрытияя карты
.remove-button {
    position: absolute;
    font-size: 100%;
    top: 0;
    color: $light-font;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    z-index: 1000;
    margin-top: -10px;
    margin-right: -19px;
    background-color: $complementary-background;
    font-weight: $black;
}

.remove-button:hover {

    background-color: rgb(55, 55, 55);
}



// footer
footer {

    background-color: #90d23d;
    padding: 43px 330px 14px 400px;

    .container {
        .social-wrapper {

            .social-buttons {
                padding: 17px 27px 14px 39px;
                display: flex;

            }

            .social-content {
                font-weight: $light-bold;
                font-size: 18px;
                color: $light-font;
            }
        }
    }
}

// спрайты
.bg-behance_sm {
    width: 34px;
    height: 33px;
    background: url('img/sprites/css_sprites.png') -144px -146px;
    display: block;
}


.bg-dribbble_sm_ {
    width: 33px;
    height: 33px;
    background: url('img/sprites/css_sprites.png') -198px -146px;
    display: block;
}


.bg-facebook {
    width: 47px;
    height: 47px;
    background: url('img/sprites/css_sprites.png') -77px -78px;
    display: block;
}


.bg-facebook_sm {
    width: 33px;
    height: 33px;
    background: url('img/sprites/css_sprites.png') -63px -213px;
    display: block;
}


.bg-facebook_white {
    width: 47px;
    height: 47px;
    background: url('img/sprites/css_sprites.png') -144px -78px;
    margin-right: 11px;
}


.bg-google_plus_white {
    width: 47px;
    height: 48px;
    background: url('img/sprites/css_sprites.png') -10px -10px;
    display: block;
    margin-right: 15.3px;
}


.bg-google_plus {
    width: 47px;
    height: 48px;
    background: url('img/sprites/css_sprites.png') -77px -10px;
    display: block;
}


.bg-Go_Up_Button {
    width: 31px;
    height: 19px;
    background: url('img/sprites/css_sprites.png') -278px -36px;
    display: block;
}


.bg-Go_Up_Button_white {
    width: 31px;
    height: 19px;
    background: url('img/sprites/css_sprites.png') -329px -36px;
    display: block;
}


.bg-icon {
    width: 33px;
  height: 33px;
  background: url("img/sprites/css_sprites.png") -116px -213px;
  display: block;
}



.bg-line {
    width: 83px;
    height: 6px;
    background: url('img/sprites/css_sprites.png') -278px -10px;
    display: block;
}


.bg-linkedin {
    width: 47px;
    height: 48px;
    background: url('img/sprites/css_sprites.png') -144px -10px;
    display: block;
}


.bg-linkedin_white {
    width: 47px;
    height: 48px;
    background: url('img/sprites/css_sprites.png') -10px -78px;
    display: block;
    margin-right: 14.6px;
}


.bg-More_icon_green {
    width: 33px;
    height: 34px;
    background: url('img/sprites/css_sprites.png') -10px -213px;
    display: block;
}

.bg-tumblr {
    width: 47px;
    height: 47px;
    background: url('img/sprites/css_sprites.png') -211px -10px;
    display: block;
}

.bg-tumblr_white {
    width: 47px;
    height: 47px;
    background: url('img/sprites/css_sprites.png') -211px -77px;
    display: block;
}


.bg-twitter {
    width: 47px;
    height: 47px;
    background: url('img/sprites/css_sprites.png') -10px -146px;
    display: block;
}


.bg-twitter_sm {
    width: 33px;
    height: 33px;
    background: url('img/sprites/css_sprites.png') -169px -213px;
    display: block;
}


.bg-twitter_white {
    width: 47px;
    height: 47px;
    background: url('img/sprites/css_sprites.png') -77px -146px;
    display: block;
    margin-right: 13px;
}


// якоря

#event-details {
    position: relative;
    /* важно - для того, чтобы псевдоэлемент позиционировался относительно этого элемента */
    border-top: 65px solid transparent;
    margin-top: -65px;
    background-clip: padding-box;
}

#event-details:before {
    content: "";
    position: absolute;
    top: -1px;
    /* равен по модулю толщине border */
    left: 0;
    right: 0;
    border-top: 10px solid transparent;
    /* собственно то, ради чего всё затевалось */
}